@(name: String, password: String, hobbyMap: Map[String, Boolean])

@import helper._ 
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapTextInput1.render) }

@main("Simple Form 3") {

@*
  Things that changed from SimpleForm2 to support checkboxes:
  (1) Added hobbyMap to params.
  (2) Implement bootstrap2MultipleCheckboxes
  (3) 
*@

<div class="container">
  <div class="well">
    @form(routes.SimpleForm.postSimpleForm3(), 'class -> "form-horizontal") {
      <fieldset>
        <!-- Header -->
        <div id="legend">
          <legend>Student Data</legend>
        </div>
        
         <!-- Name -->
        @bootstrap2InputText("Name", 
          'type -> "text",
          'value -> name,
          'class -> "input-xlarge", 
          'placeholder -> "My Name",
          'help -> "Please enter your first and last name")
          
        <!-- Password -->
        @bootstrap2InputText("Password",
          'type -> "text",
          'value -> password, 
          'class -> "input-xlarge",
          'type -> "password", 
          'placeholder -> "Password",        
          'help -> "Password should be chosen with care.")
        
         <!-- Hobbies -->
         @bootstrap2MultipleCheckboxes("Hobbies", hobbyMap, true, 'help -> "Check all hobbies.")
         

        <!-- Student Level -->
        <div class="control-group">
          <label class="control-label" for="level">Level</label>
          <div class="controls">
            <label class="radio"> <input type="radio" name="level-senior" id="level-senior"
              value="level-senior" checked="">Senior
            </label> <label class="radio"> <input type="radio" name="level-junior" id="level-junior"
              value="level-junior">Junior
            </label> <label class="radio"> <input type="radio" name="level-sophomore"
              id="level-sophomore" value="level-sophomore">Sophomore
            </label> <label class="radio"> <input type="radio" name="level-freshman"
              id="level-freshman" value="level-freshman">Freshman
            </label> <label class="radio"> <input type="radio" name="level-other" id="level-other"
              value="level-other">N/A
            </label>
            <p class="help-block">Click the radio button corresponding to your class level.</p>
          </div>
        </div>
        <!-- GPA -->
        <div class="control-group">
          <label class="control-label" for="gpa">GPA</label>
          <div class="controls">
            <select>
              <option>4.0</option>
              <option>3.0 - 3.9</option>
              <option>2.0 - 2.9</option>
              <option>1.0 - 1.9</option>
            </select>
            <p class="help-block">Select your GPA</p>
          </div>
        </div>
        <!-- Major(s) -->
        <div class="control-group">
          <label class="control-label" for="majors">Major(s)</label>
          <div class="controls">
            <select multiple="multiple">
              <option>Chemistry</option>
              <option>Biology</option>
              <option>Physics</option>
              <option>Other</option>
            </select>
            <p class="help-block">Select one or more majors.</p>
          </div>
        </div>
        <!-- Button -->

        <div class="control-group">
          <div class="controls">
            <button class="btn btn-success">Submit</button>
            <button class="btn cancel">Cancel</button>
          </div>
        </div>
      </fieldset>
    }
  </div>
</div>


}
